// bower:scss
// endbower

/// Variables //////////////////////////////
////////////////////////////////////////////

$black: #52484C;
$light-blue: #17F1DA;
$red: #D73D47;
$yellow: #FFEBAF;
$white: #FFF;

* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #5B5555;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 75%;
    margin: 2em auto;
    min-width: 600px;
}


/// Header /////////////////////////////////
////////////////////////////////////////////

header { 
    padding: 1em;
    border-top-left-radius: .375em;
    border-top-right-radius: .375em;
    background: $red;
    text-align: center;


    & h1 {
        color: $light-blue;
        font-size: 3.5em;
        line-height: 0.75em;
        text-shadow: 0.03125em 0.03125em darken($red, 20%);
    }

    & h2 {
        color: $white;
        margin-bottom: 0;
        text-shadow: 0.03125em 0.03125em darken($red, 25%);
    }

    & a {
        color: $yellow;
        text-shadow: 0.03125em 0.03125em darken($red, 25%);
    }

    & .contact-link {
        margin-top: .5em;
        margin-right: .25em;
        font-size: 2em;
        color: $white;

        &:hover {
            margin-top: 0;
        }
    }

}

/// Main Content////////////////////////////
////////////////////////////////////////////

.main-content {
    padding: 1em 4em 3em; 
    background: $white;

    & h2 {
        margin-bottom: 0;
        margin-top: 1.5em;
    }

    & h3 {
        margin: .5em 0;
    }

    & h4 {
        margin: 0.25em 0 0;
    }

    & > p {
        margin: 0;
    }

    & .print {
        float: right;
        position: relative;
        cursor: pointer;
        padding: 0 0 0 1.5em;

        &:before {
            position: absolute;
            content: ' ';
            background: url(../images/printer.png) 0 0 / contain;
            height: 1.4em;
            width: 1.4em;
            left: -0.1em;
        }
    }

    & > ul {
        list-style: none;
        margin: 0;
    }

    & .education, & .experience {
        margin: 0.25em 0 0;
    }

}